.Layout {
    margin: 1rem auto;
    max-width: 800px;
}

/* The 46px is a mystery to me, but it works */
@media screen and (max-width: calc(800px + 46px)) {
    .Layout {
        margin: 1rem;
    }
}
