.SearchLink {
    transition: all 100ms ease-in-out;
}

.SearchLink,
.SearchLink:hover,
.SearchLink:active,
.SearchLink:visited {
    /* color: var(--secondary-text); */
    text-decoration: none;
}

/* Modified styles */

.SearchLink--categories {
    text-transform: capitalize;
}

.SearchLink--tags {
    background: var(--gray200);
    border-radius: 0.125rem;
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
}

.SearchLink--tags,
.SearchLink--tags:hover,
.SearchLink--tags:active,
.SearchLink--tags:visited {
    color: var(--primary-text);
    text-decoration: none;
}

.SearchLink--tags:hover {
    background: var(--gray300);
}