/* External */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500');

/* Global */
@import './variables.css';

body {
    background: var(--primary-bg);
    color: var(--primary-text);
    font-family: var(--system-fonts);
    margin: 0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Styles */
@import './headings.css';
@import './links.css';

/* Components */
@import './components/Bio.css';
@import './components/Footer.css';
@import './components/Header.css';
@import './components/Layout.css';
@import './components/MainNav.css';
@import './components/PostFooter.css';
@import './components/PostPreview.css';
@import './components/Responsive.css';
@import './components/SearchLink.css';